<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>
      {% block title %}{% endblock title %} - Responsive Navigation Bar
    </title>
  </head>

  <body>
    <div class="navbar">
      <div class="logo">
        <img src="ITMM" alt="ITMM" />
      </div>
      <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

    {% block body %} {% endblock body %}
    <script src="/static/js/script.js"></script>
  </body>
</html>
